<h1> Restaurant details</h1>

<ul>
  <li>
    <%= @restaurant.name %>
    <%= @restaurant.address %>
    <%= @restaurant.phone_number %>
    <%= @restaurant.category %>
  </li>
</ul>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <li class="list-group-item"><%= review.rating %></li>
  <% end %>
</ul>
<br>
<%= link_to "New Review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Back", restaurants_path %>
